<div class="admin-login-page">
  <div class="admin-login-container">

    <h2><span><img src="/assets/images/logo.png" class="icon"></span><div class="tt"> Parko Admin Login</div></h2>
    <p class="subtitle">Only high-authority users</p>

    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password"/>
    </div>

<button class="login-btn" (click)="loginAdmin()" [disabled]="loading">
  {{ loading ? 'Logging in...' : 'Login as Admin' }}
</button>

    <div class="error" *ngIf="errorMessage && !loading">
  {{ errorMessage }}
</div>


    <div class="back-glass">
  <div class="divider"></div>

  <a class="back-link" (click)="goLogin()">
    👤 User Login
  </a>
</div>


  </div>
</div>
