<header class="app-header">
  <div class="header-left">
    <img src="assets/images/logo.png" class="app-logo" />
  </div>
  <div class="header-center">Attendant Dashboard</div>
  <div class="header-right">
    <span>👤 Attendant</span>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</header>

<div class="container">
  <h2>Vehicle Entry</h2>

  <div class="form-scroll">
    <form class="form-box" (ngSubmit)="parkVehicle()" novalidate>
      <label>Owner Name</label>
      <input
        [(ngModel)]="ownerName"
        name="ownerName"
        (blur)="ownerTouched = true"
        required />

      <div class="error" *ngIf="ownerTouched && !ownerName.trim()">
        Owner name required
      </div>
      <label>Vehicle Number</label>
      <input
        [(ngModel)]="vehicleNumber"
        name="vehicleNumber"
        (input)="onVehicleInput($event)"
        placeholder="TN 10 AB 1234"
        required />

      <div class="error" *ngIf="vehicleTouched && !isVehicleValid()">
        Format must be AA 11 AA 1111
      </div>

      

      <!-- IMAGE INPUT -->
      <div class="camera-box">

        <video #video autoplay playsinline [hidden]="!cameraOpen"></video>
        <canvas #canvas hidden></canvas>

        <img *ngIf="capturedImage" [src]="capturedImage" class="preview"/>

        <div class="camera-actions">
          <button type="button" (click)="openCamera()" *ngIf="!cameraOpen">
            📷 Camera
          </button>

          <button type="button" (click)="capturePhoto()" *ngIf="cameraOpen">
            📸 Capture
          </button>

<div class="upload-wrapper">
  <!-- Hidden native input -->
  <input
    type="file"
    accept="image/*"
    #fileInput
    (change)="onFileSelected($event)"
    hidden
  />

  <!-- Custom upload button -->
  <button class="upload-btn" (click)="fileInput.click()">
    📁 Choose Image
  </button>

  <!-- Selected file name -->
  <span class="file-name" *ngIf="selectedFileName">
    {{ selectedFileName }}
  </span>
</div>

          <button type="button" (click)="clearImage()" *ngIf="capturedImage">
            ❌ Remove
          </button>
        </div>
      </div>

      <button type="button" (click)="runOCR()" [disabled]="mlInProgress || !capturedImage">
        🤖 Detect Plate
      </button>
      <div class="wrap">
      <button
        type="submit"
        class="entry-btn"
        [disabled]="!isVehicleValid() || !ownerName.trim()">
        Park Vehicle
      </button>
      </div>
    </form>
  </div>

  <p class="msg" *ngIf="showFillAllError">❌ Please fill all fields</p>
  <p class="msg">{{ message }}</p>

  <div *ngIf="assignedSlot">
    Assigned Slot: <strong>{{ assignedSlot }}</strong>
  </div>

  <button class="attendant-back" (click)="goBack()">Back</button>
</div>
