<header class="app-header">
  <div class="header-left">
    <img src="assets/images/logo.png" alt="App Logo" class="app-logo" />
  </div>

  <div class="header-center">
    Attendant Dashboard
  </div>

  <div class="header-right">
    <span class="user-name">👤 {{ username }}</span>
    <button class="logout-btn" (click)="goBack()">Logout</button>
  </div>
</header>

<div class="attendant-wrapper">

  <!-- ENTRY -->
  <div class="card entry-card" (click)="goToEntry()">
    <img class="card-image" src="" />
    <h3>Vehicle Entry</h3>
    <p>Register an incoming vehicle</p>
    <div class="entry_indicate"></div>
  </div>

  <!-- MAINTENANCE -->
  <div class="card maintenance-card" (click)="goToMaintenance()">
    <img class="card-image" src="" />
    <h3>Manage Slots</h3>
    <p>Block / reserve slots</p>
    <div class="entry_indicate"></div>
  </div>

  <!-- EXIT -->
  <div class="card exit-card" (click)="goToExit()">
    <img class="card-image" src="" />
    <h3>Vehicle Exit</h3>
    <p>Generate bill & exit</p>
    <div class="exit_indicate"></div>
  </div>

  <!-- SLOT BARS -->
  <div class="zone-bars">
    <div class="zone-bar-card" *ngFor="let z of slotSummary">
      <div class="zone-label">Slot {{ z.zone }}</div>

      <div class="slot-segments">
        <div class="indicator">E</div>
        <div
          class="segment"
          *ngFor="let filled of getSlotSegments(z.capacity, z.occupied)"
          [class.filled]="filled">
        </div>
        <div class="indicator">F</div>
      </div>

      <div class="slot-text">
        {{ z.occupied }} / {{ z.capacity }} occupied
      </div>
    </div>
  </div>

</div>
