<!-- ================= GLOBAL VIDEO LOADER ================= -->
<!-- GLOBAL VIDEO LOADER -->
<div class="video-loader" *ngIf="isLoading">
  <div class="loader-box">
    <video
      autoplay
      muted
      loop
      playsinline
      preload="auto">
      <source src="assets/images/loader.mp4" type="video/mp4" />
    </video>
  </div>
</div>

<!-- ================= REAL APP ================= -->
<div *ngIf="!isLoading">
  <app-header *ngIf="showHeader"></app-header>
  <router-outlet></router-outlet>
</div>
