<div class="admin-page">

  <div class="admin-container">

    <!-- TOP BAR -->
    <div class="top-bar">

      <!-- LEFT : SESSION -->
      <div class="top-left">
        <span><img src="/assets/images/logo.png" class="logo"></span>
        <h2>Parko</h2>
        <div class="session-timer">
          ⏳ Session expires in <b>{{ remainingTime }}</b>
        </div>
      </div>

      <!-- CENTER : TITLE -->
      <div class="top-center">
        <h2>Admin Dashboard</h2>
      </div>

      <!-- RIGHT : LOGOUT -->
      <div class="top-right">
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>

    </div>
    
    <!-- SCROLLABLE CONTENT -->
    <div class="box">

      <!-- ADD / EDIT USER -->
      <div class="form-row">
        <input
          type="text"
          placeholder="Username"
          [(ngModel)]="newUser.username" required/>

        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="newUser.password" required />

        <select [(ngModel)]="newUser.role">
          <option value="attendant">Attendant</option>
          <option value="supervisor">Supervisor</option>
        </select>

        <button
          class="btn primary"
          *ngIf="editingUserId === null"
          (click)="addUser()">
          Add
        </button>
        <!-- ERROR MESSAGE -->
<div class="alert error" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<!-- SUCCESS MESSAGE -->
<div class="alert success" *ngIf="successMessage">
  {{ successMessage }}
</div>

        <button
          class="btn edit"
          *ngIf="editingUserId !== null"
          (click)="updateUser()">
          Update
        </button>

        <button
          class="btn danger"
          *ngIf="editingUserId !== null"
          (click)="resetForm()">
          Cancel
        </button>
      </div>

      <!-- USERS TABLE -->
      <div class="table-wrapper">
        <table>
          <thead class="head">
            <tr>
              <th>Username</th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let u of users">
              <td>{{ u.username }}</td>
              <td>{{ u.role }}</td>
              <td>
                <button class="btn edit" (click)="editUser(u)">Edit</button>
                <button class="btn danger" (click)="deleteUser(u.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
