<!-- TITLE -->
        <header class="app-header">
  <!-- LEFT: LOGO + APP NAME -->
  <div class="header-left">
    <img src="assets/images/logo.png" alt="App Logo" class="app-logo" />
    <!-- <span class="app-name">Parko</span> -->
  </div>

  <!-- CENTER: PAGE NAME -->
  <div class="header-center">
    Attendant Dashboard
  </div>

  <!-- RIGHT: USER + LOGOUT -->
  <div class="header-right">
    <span class="user-name">👤 Attendant</span>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</header>
<!-- GLASS CONTAINER -->
<div class="zones-bg management-wide">
  <div class="dashboard-title">Slot Management</div>
  <p class="sub">Click slots to block or unblock</p>


  <!-- TABS INSIDE GLASS -->
  <div class="zone-tabs">
    <button
      *ngFor="let z of zones"
      class="zone-tab"
      [class.active]="activeZone === z"
      (click)="activeZone = z">
      Slot {{ z }}
    </button>
  </div>

  <!-- SLOT GRID -->
  <div class="slot-grid-3x5">
    <div
      class="slot-item"
      *ngFor="let slot of getSlotsForZone(activeZone)"
      [class.occupied]="slot.isOccupied"
      [class.blocked]="slot.isBlocked"
      (click)="toggleBlock(slot)">

      <div class="status-icon">
        <ng-container *ngIf="slot.isOccupied">🚗</ng-container>
        <ng-container *ngIf="!slot.isOccupied && slot.isBlocked">⚠️</ng-container>
        <ng-container *ngIf="!slot.isOccupied && !slot.isBlocked">🟢</ng-container>
      </div>

      <div class="slot-id">
        {{ slot.slotId }}
      </div>
    </div>
  </div>
  <div class="legend">🚗 - Vehicle parked | ⚠️ - Blocked | 🟢 - Free</div>
<!-- BACK -->
<div class="back-row">
  
  <button class="back-btn" (click)="goBack()">Back</button>
</div>

</div>

